<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AcornTrail</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if Rails.env.production? %>
    <% api_key = ENV['GOOGLE_MAPS'] %>
  <% else %>
    <% api_key = '' %>
  <% end %>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME'] %>",
      api_key: "<%= ENV['CLOUD_API_KEY'] %>",
      signature: "<%= ENV['CLOUD_API_SECRET'] %>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      theme: 'minimal'
    };

    window.currentUserID = <%= current_user.try(:id) || -1 %>
  </script>


  <script src="http://widget.cloudinary.com/global/all.js"
          type="text/javascript"
          charset="utf-8"></script>

  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?<%= api_key %>&libraries=places"></script>

</head>
<body>
<div class="messages">
  <% if flash[:messages] %>
    <div class="alert alert-success">
      <%= flash[:messages] %>
    </div>
  <% end %>
</div>

<%= yield %>

<script type="text/javascript" charset="utf-8">
  setTimeout(function () {
    $('.messages').css({
      opacity          : '0',
      WebkitTransition : 'opacity 3s',
      MozTransition    : 'opacity 3s',
      MsTransition     : 'opacity 3s',
      OTransition      : 'opacity 3s',
      transition       : 'opacity 3s'
    });
    setTimeout(function () {
      $('.messages').css({
        display: 'none'
      });
    }, 3000);
  }, 50)
</script>

</body>
</html>
